html {
    font-size: 15px;
}

body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 1rem;
}




/* Page */
.page {
    width: 100%;
    height: 100vh;
    position: relative;

    background: #000 url("./img/Background.png") center no-repeat;
    background-size: cover;
}


/* Header */

.header {
    margin-bottom: 110px;
    padding: 1rem 0;
    background: #2b7ded;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    display: block;
}


.header-brand {
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}


.header-nav {
    display: flex;
}

.header-nav-link {
    margin-left: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;

    position: relative; /* для позиционирования псевдоэлемента*/
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active::after {
    content: "";
    width: 50%;
    height: 1px;

    position: absolute;
    right: 0;
}


.header-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /*регулируй отступ подчеркивания*/
    width: 0;
    height: 1px; /* толщина линии */
    background: currentColor; /* цвет как у текста (или укажи свой) */


    transition: width 0.3s ease; /* плавное изменение ширины */
}

.header-nav-link:hover::after {
    width: 100%; 
    /* полная ширина при наведении */
} 


/* Content */

.content {
    height: 100%;
    width: 100%;
    max-width: 565px;
    
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, .6);
}

.title {

    margin-bottom: 35px;

    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
}

.title>span {

    font-size: 2rem;
    color: #2b7ded;
    font-weight: 500;
} 


.text {
    margin-bottom: 50px;

    font-size: 1rem;
    color: #fff;
}

/* Btn */

.btn {
    display: inline-block;
    padding: 12px 35px;

    font-size: 1rem;
    font-family: inherit;
    line-height: 1.1;
    font-weight: 500;
    color: #fff;
    text-decoration: none;

    background-color: #2b7ded;
    border: 0.5px solid #000000;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0e499b;
    transition: background .2s, linear;
    cursor: pointer;
    
}

.btn-full {
    display: block;
    width: 100%;  
  }

/* Author image */

.author {
    position: absolute;
    width: 650px;
    bottom: 0;
    right: 0;
}


/* Footer */


.footer {
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 100%;
}

.contacts {
    display: flex;
    width: 565;
    align-items: center;

}

.contacts-icon {
    margin-right: 5px;
    
}

/* Contact.html */

.contacts-link {
    margin-right: 2rem;

    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;

}

.contacts-link:last-child {
    margin-right: 0;
}

.contacts-link:hover {
    text-decoration: underline;
}



.empty-link {
    position: relative;  /* Нужно для позиционирования псевдоэлемента */
    display: inline-block;  /* Чтобы ширина работала корректно */
    width: 50px;
    height: 20px;  /* Высота контейнера (можно настроить под свои нужды) */
}

.empty-link::after {
    content: "";
    position: absolute;
    width: 100%;  /* Растягиваем на всю ширину родителя */
    height: 2px;
    background-color: #fff;
    
    /* Центрируем вертикально */
    top: 50%;
    transform: translateY(-50%);
}



/* Contact */

.form {
    width: 100%;
    max-width: 280px;
}

.form-group {
    margin-bottom: 20px;
}

.input,
.textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 12px 18px;

    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border: 0;
    border-radius: 5px;


}

.textarea {
    height: 100px;
    resize: none;
}

.input::placeholder,
.textarea::placeholder {
    color: #fff;
}


/* Adaptive */


@media (max-width: 1000px) {
    .author {
        display: none;
    }
}

@media (max-width: 896px) {
    
    /* Header */

    .header {
        margin-bottom: 50px;
    }

    .header-inner {
        flex-direction: column;
        /* align-items: start; */
    }

    .header-brand {
        margin-bottom: 1rem;
        
    }


    .header-nav {
        /* flex-direction: column; */
    }


    /* Content */

    .content {
        text-align: center;
        
    }

    .author {
        display: block;
    }


    /* Contacts */
    
    .contacts {
        flex-direction: column;
        /* align-items: start; */
        
    }

    .contacts-link {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .contacts-link:last-child {
        margin-bottom: 0;
    }

} 

@media (max-width: 767px) {



    /* .container {
        width: 100%;
        max-width: 1000px;
        margin-left: 30px;
    } */


    .header-brand {
        font-size: 1.2rem;
    }

    .header-logo {
        display: none;
    }


    .author {
        display: none;
    }

}

@media (max-width: 565px) {
    .empty-link {
        display: none;
    }
}








/* TEST JS */



.red  {
    color: red;
}